.carousel{
  overflow-x: hidden !important;
}


.progressContainer {
  background-color: transparent;
  border-radius: 5px;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.h1 {
  @apply text-[24px] md:text-[36px] 2xl:text-[64px] font-lato font-extrabold leading-[120%];
}
.h2 {
  @apply text-[] md:text-[] 2xl:text-[45px] font-lato font-normal leading-[52px];
}
.h3 {
  @apply text-[] md:text-[] 2xl:text-[32px] font-lato font-bold leading-[40px];
}
.body-text-sm {
  @apply text-[] md:text-[] 2xl:text-[18px] font-lato font-normal leading-6;
}
.body-text-lg {
  @apply text-[] md:text-[] 2xl:text-2xl font-lato font-normal leading-6;
}
.body-text-md {
  @apply text-[] md:text-[] 2xl:text-[20px] font-lato font-normal leading-6;
}
.body-text {
  @apply text-[] md:text-[] 2xl:text-[16px] font-lato font-normal leading-6;
}
