@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@300&family=Mukta:wght@400;500;600;700;800&family=Open+Sans&family=Poppins:wght@300;400;500;600;700;800&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.h1 {
  @apply text-[] md:text-[] 2xl:text-[64px] font-lato font-extrabold leading-[72px];
}
.h2 {
  @apply text-[] md:text-[] 2xl:text-[45px] font-lato font-normal leading-[52px];
}
.h3 {
  @apply text-[] md:text-[] 2xl:text-[32px] font-lato font-bold leading-[40px];
}
.body-text-sm {
  @apply text-[] md:text-[] 2xl:text-[18px] font-lato font-normal leading-6;
}
.body-text-lg {
  @apply text-[] md:text-[] 2xl:text-2xl font-lato font-normal leading-6;
}
.body-text-md {
  @apply text-[] md:text-[] 2xl:text-[20px] font-lato font-normal leading-6;
}
.body-text {
  @apply text-[] md:text-[] 2xl:text-[16px] font-lato font-normal leading-6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*::-webkit-scrollbar {
  display: none;
}
